body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: red;
  padding: .5em;
}