<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>      
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </nav>
    
    <h1>Paras Portfolio</h1>
    <% if(msg != '') { %>
      <h1><%= msg %></h1>
   <% } %>
    <form action="/contactus" method="post" role="form">
      <label>Name</label><br/>
      <input name="name" type="text" placeholder="Write Name..." required/><br/>
      <label>Mobile</label><br/>
      <input name="mobilenumber" type="number" placeholder="Write Mobile Number..."/><br/>
      <label>Email</label><br/>
      <input name="email" type="email" placeholder="Write Email..."/><br/>
      <label>Write Message</label><br/>
      <textarea name="writemessage">

      </textarea><br/>
      <input type="submit" value="Submit"/>
    </form>

    <h2>Sign up</h2>
    <form action="/signup" method="post" role="form">
      <label for="first-name">First Name</label><br/>
      <input name="firstname" type="text" id="first-name" placeholder="Enter Your First Name....." /><br/>
      <label for="last-name">Last Name</label><br/>
      <input name="lastname" type="text" id="last-name" placeholder="Enter Your Last Name....." /><br/>
      <label for="user-name">Create Username</label><br/>
      <input name="username" type="text" id="user-name" placeholder="Create Your User Name....." /><br/>
      <label >Mobile</label><br/>
      <input name="mobilenumber" type="number" placeholder="Enter Your Mobile Number....." /><br/>
      <label >Email</label><br/>
      <input name="email" type="email" placeholder="Enter Your Email....." /><br/>
      <label >Create Password</label><br/>
      <input name="password" type="password" placeholder="Create New Password....." /><br/>
      <label >Confirm Password</label><br/>
      <input name="confirmpassword" type="password" placeholder="Cofirm Password....." /><br/>
      <input type="submit" value="Sign Up"/>
    </form>

    <h2>Add Product</h2>
    <form action="/addproduct" method="post" role="form">
      <label>Choose Product Category</label><br/>
      <select name="productcategory" id="cars">
        <option value="Bus">Bus</option>
        <option value="Car">Car</option>
        <option value="Bike">Bike</option>
        <option value="Scooty">Scooty</option>
      </select>
<br/>
      <label>Product Name</label><br/>
      <input name="productname" type="text" placeholder="Enter Product Name..."/><br/>
      
      <label>Product Price</label><br/>
      <input name="productprice" type="number" placeholder="Enter Product Price..."/><br/>

      <label>Product Year</label><br/>
      <input name="productyear" type="date" placeholder="Enter Product Year..."/><br/>

      <input type="submit" value="Add Product"/>
    </form>
    
  </body>
</html>
