<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Paras Portfolio</h1>
    <form>
      <label>Name</label><br/>
      <input name="name" type="text" placeholder="Write Name..."/><br/>
      <label>Mobile</label><br/>
      <input name="mobilenumber" type="number" placeholder="Write Mobile Number..."/><br/>
      <label>Email</label><br/>
      <input name="email" type="email" placeholder="Write Email..."/><br/>
      <label>Write Message</label><br/>
      <textarea name="writemessage">

      </textarea><br/>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
